@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
#__next {
  isolation: isolate;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Fraunces", serif;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  background-color: #92d3c5;
  padding: 3rem 0 0.5rem;
}
.attribution a {
  color: #458c7e;
}
.attribution a:hover {
  color: white !important;
}

.col-description {
  padding: 0 6rem 0 7.5rem;
  background-color: #fffcfa;
  color: #23303e !important;
}
.col-description h2 {
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
.col-description p {
  color: #818498;
  margin-bottom: 2rem;
}
.col-description .learn-y,
.col-description .learn-r {
  font-size: 0.95rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
  color: #23303e !important;
  padding: 0 4px 4px;
  display: inline-block;
  transition: all 0.2s ease-in;
}
.col-description .learn-y {
  border-bottom: 6px solid #fad400;
}
.col-description .learn-r {
  border-bottom: 6px solid #fe7867;
}
.col-description .learn-r:hover {
  border-bottom: 6px solid rgba(254, 120, 103, 0.325);
}
.col-description .learn-y:hover {
  border-bottom: 6px solid rgba(250, 212, 0, 0.325);
}

.contact {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
  color: #19536b !important;
}
.contact:hover {
  color: white !important;
  background-color: rgba(158, 229, 255, 0.5) !important;
  border-color: transparent !important;
}

.container-1 {
  position: relative;
}

.dark-blue {
  color: #19536b;
}

.dark-desaturated-cyan {
  font-size: 1.75rem;
  font-weight: 900;
  color: #25564b;
}

.dark-moderate-cyan {
  color: #458c7e;
}

.frontend {
  font-size: small !important;
}

.heading {
  font-size: 3.3rem;
  font-weight: 900;
  padding-top: 11rem;
  letter-spacing: 10px;
  color: white;
}

.image-cone {
  background: url("../images/desktop/image-gallery-cone.jpg") no-repeat center;
  background-size: cover;
  height: 25rem;
}

.image-graphic-design {
  background: url("../images/desktop/image-graphic-design.jpg") no-repeat center;
  background-size: cover;
  height: 32rem;
  padding: 0 9rem;
}

.images-milkbottles {
  background: url("../images/desktop/image-gallery-milkbottles.jpg") no-repeat center;
  background-size: cover;
  height: 25rem;
}

.image-orange {
  background: url("../images/desktop/image-gallery-orange.jpg") no-repeat center;
  background-size: cover;
  height: 25rem;
}

.image-photography {
  background: url("../images/desktop/image-photography.jpg") no-repeat center;
  background-size: cover;
  height: 32rem;
  padding: 0 9rem;
}

.image-stand-out {
  background: url("../images/desktop/image-stand-out.jpg") no-repeat center;
  background-size: cover;
  height: 32rem;
}

.image-sugarcubes {
  background: url("../images/desktop/image-gallery-sugarcubes.jpg") no-repeat center;
  background-size: cover;
  height: 25rem;
}

.image-transform {
  background: url("../images/desktop/image-transform.jpg") no-repeat center;
  background-size: cover;
  height: 32rem;
}

.media-icons {
  gap: 1.5rem;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar-nav {
  gap: 2rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("../images/icon-hamburger.svg") !important;
  width: 1.2rem;
}

.section-1 {
  height: 100vh;
  background: url("../images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.section-1 span {
  position: absolute;
  top: -4.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(49%, 50%);
}

.testimonials {
  padding: 8rem;
  background-color: #fffcfa;
}
.testimonials h3 {
  font-size: 1.1rem;
  font-weight: 900;
  color: #a7abae;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.testimonials .avatar {
  width: 3.75rem;
}
.testimonials .job {
  font-size: 0.8rem;
  color: #a7abae;
}
.testimonials .name {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.testimonials .testimonial {
  color: #5a636c;
}

.very-dark-desaturated-blue {
  font-size: 1.75rem;
  font-weight: 900;
  color: #23303e;
}

@media (max-width: 991px) {
  .col-description {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .col-description h2 {
    font-size: 1.75rem;
  }

  .heading {
    padding-top: 8rem;
    font-size: 2rem;
  }

  .image-graphic-design {
    padding: 0 1.5rem;
  }

  .image-cone {
    background: url("../images/desktop/image-gallery-cone.jpg") no-repeat center;
    background-size: cover;
    height: 10rem;
  }

  .images-milkbottles {
    background: url("../images/mobile/image-gallery-milkbottles.jpg") no-repeat center;
    background-size: cover;
    height: 10rem;
  }

  .image-orange {
    background: url("../images/mobile/image-gallery-orange.jpg") no-repeat center;
    background-size: cover;
    height: 10rem;
  }

  .image-photography {
    padding: 0 1.5rem;
  }

  .image-stand-out {
    background: url("../images/mobile/image-stand-out.jpg") no-repeat center;
    background-size: cover;
    height: 17.4rem;
  }

  .image-transform {
    background: url("../images/mobile/image-transform.jpg") no-repeat center;
    background-size: cover;
    height: 17.4rem;
  }

  .image-sugarcubes {
    background: url("../images/mobile/image-gallery-sugar-cubes.jpg") no-repeat center;
    background-size: cover;
    height: 10rem;
  }

  .navbar-brand img {
    width: 95%;
    height: auto;
  }

  .navbar-collapse {
    background-color: white;
    margin-top: 3.2rem;
    position: relative;
  }
  .navbar-collapse::after {
    content: "";
    position: absolute;
    top: -1rem;
    right: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }
  .navbar-collapse .nav-link.contact {
    background-color: #fad400 !important;
    color: #23303e !important;
    border-color: transparent !important;
    padding: 0.75rem 0.5rem;
    width: 7rem;
    margin: auto;
  }
  .navbar-collapse .nav-link {
    color: gray !important;
    text-align: center;
  }
  .navbar-collapse .navbar-nav {
    gap: 0.85rem;
    padding: 1.5rem 5rem 2rem;
  }

  .navbar-toggler {
    padding: 0 !important;
  }

  .section-1 {
    background: url("../images/mobile/image-header.jpg") no-repeat center;
    background-size: cover;
  }
  .section-1 span {
    transform: translate(45%, 60%);
  }

  .testimonials {
    padding: 3rem 2rem;
  }
  .testimonials h3 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
  }
}

/*# sourceMappingURL=style.css.map */
