@use "reset";

$soft-red: hsl(7, 99%, 70%);
$soft-red-hover: hsla(7, 99%, 70%, 0.325);
$yellow: hsl(51, 100%, 49%);
$yellow-hover: hsla(51, 100%, 49%, 0.325);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$light-salmon: hsl(26, 100%, 99%);
$light-cyan: hsl(167, 43%, 70%);

@mixin background($url) {
  background: url($url) no-repeat center;
  background-size: cover;
}

@mixin font-display($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  background-color: $light-cyan;
  padding: 3rem 0 0.5rem;

  a {
    color: $dark-moderate-cyan;
  }

  a:hover {
    color: $white !important;
  }
}

.col-description {
  padding: 0 6rem 0 7.5rem;
  background-color: $light-salmon;
  color: $very-dark-desaturated-blue !important;

  h2 {
    @include font-display(2.3rem, 900);
    margin-bottom: 2rem;
  }

  p {
    color: $dark-grayish-blue;
    margin-bottom: 2rem;
  }

  .learn-y,
  .learn-r {
    @include font-display(0.95rem, 900);
    font-family: "Fraunces", serif;
    color: $very-dark-desaturated-blue !important;
    padding: 0 4px 4px;
    display: inline-block;
    transition: all 0.2s ease-in;
  }

  .learn-y {
    border-bottom: 6px solid $yellow;
  }

  .learn-r {
    border-bottom: 6px solid $soft-red;
  }

  .learn-r:hover {
    border-bottom: 6px solid $soft-red-hover;
  }

  .learn-y:hover {
    border-bottom: 6px solid $yellow-hover;
  }
}

.contact {
  @include font-display(0.8rem, 700);
  font-family: "Fraunces", serif;
  color: $dark-blue !important;

  &:hover {
    color: $white !important;
    background-color: hsla(196, 100%, 81%, 0.5) !important;
    border-color: transparent !important;
  }
}

.container-1 {
  position: relative;
}

.dark-blue {
  color: $dark-blue;
}

.dark-desaturated-cyan {
  @include font-display(1.75rem, 900);
  color: $dark-desaturated-cyan;
}

.dark-moderate-cyan {
  color: $dark-moderate-cyan;
}

.frontend {
  font-size: small !important;
}

.heading {
  @include font-display(3.3rem, 900);
  padding-top: 11rem;
  letter-spacing: 10px;
  color: $white;
}

.image-cone {
  @include background("../images/desktop/image-gallery-cone.jpg");
  height: 25rem;
}

.image-graphic-design {
  @include background("../images/desktop/image-graphic-design.jpg");
  height: 32rem;
  padding: 0 9rem;
}

.images-milkbottles {
  @include background("../images/desktop/image-gallery-milkbottles.jpg");
  height: 25rem;
}

.image-orange {
  @include background("../images/desktop/image-gallery-orange.jpg");
  height: 25rem;
}

.image-photography {
  @include background("../images/desktop/image-photography.jpg");
  height: 32rem;
  padding: 0 9rem;
}

.image-stand-out {
  @include background("../images/desktop/image-stand-out.jpg");
  height: 32rem;
}

.image-sugarcubes {
  @include background("../images/desktop/image-gallery-sugarcubes.jpg");
  height: 25rem;
}

.image-transform {
  @include background("../images/desktop/image-transform.jpg");
  height: 32rem;
}

.media-icons {
  gap: 1.5rem;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbar-nav {
  gap: 2rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("../images/icon-hamburger.svg") !important;
  width: 1.2rem;
}

.section-1 {
  height: 100vh;
  @include background("../images/desktop/image-header.jpg");
  position: relative;
  overflow: hidden;

  span {
    position: absolute;
    top: -4.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(49%, 50%);
  }
}

.testimonials {
  padding: 8rem;
  background-color: $light-salmon;

  h3 {
    @include font-display(1.1rem, 900);
    color: $grayish-blue;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .avatar {
    width: 3.75rem;
  }

  .job {
    font-size: 0.8rem;
    color: $grayish-blue;
  }

  .name {
    color: $very-dark-desaturated-blue;
    font-family: "Fraunces", serif;
    font-weight: 900;
  }

  .testimonial {
    color: $very-dark-grayish-blue;
  }
}

.very-dark-desaturated-blue {
  @include font-display(1.75rem, 900);
  color: $very-dark-desaturated-blue;
}

@media (max-width: 991px) {
  .col-description {
    padding: 3rem 1.5rem;
    text-align: center;

    h2 {
      font-size: 1.75rem;
    }
  }
  .heading {
    padding-top: 8rem;
    font-size: 2rem;
  }

  .image-graphic-design {
    padding: 0 1.5rem;
  }

  .image-cone {
    @include background("../images/desktop/image-gallery-cone.jpg");
    height: 10rem;
  }

  .images-milkbottles {
    @include background("../images/mobile/image-gallery-milkbottles.jpg");
    height: 10rem;
  }

  .image-orange {
    @include background("../images/mobile/image-gallery-orange.jpg");
    height: 10rem;
  }

  .image-photography {
    padding: 0 1.5rem;
  }

  .image-stand-out {
    @include background("../images/mobile/image-stand-out.jpg");
    height: 17.4rem;
  }

  .image-transform {
    @include background("../images/mobile/image-transform.jpg");
    height: 17.4rem;
  }

  .image-sugarcubes {
    @include background("../images/mobile/image-gallery-sugar-cubes.jpg");
    height: 10rem;
  }

  .navbar-brand {
    img {
      width: 95%;
      height: auto;
    }
  }

  .navbar-collapse {
    background-color: $white;
    margin-top: 3.2rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -1rem;
      right: 0;
      border-width: 20px;
      border-style: solid;
      border-color: transparent hsl(0, 0%, 100%) transparent transparent;
    }

    .nav-link.contact {
      background-color: $yellow !important;
      color: $very-dark-desaturated-blue !important;
      border-color: transparent !important;
      padding: 0.75rem 0.5rem;
      width: 7rem;
      margin: auto;
    }

    .nav-link {
      color: hsl(0, 0%, 50%) !important;
      text-align: center;
    }

    .navbar-nav {
      gap: 0.85rem;
      padding: 1.5rem 5rem 2rem;
    }
  }

  .navbar-toggler {
    padding: 0 !important;
  }

  .section-1 {
    @include background("../images/mobile/image-header.jpg");

    span {
      transform: translate(45%, 60%);
    }
  }

  .testimonials {
    padding: 3rem 2rem;

    h3 {
      @include font-display(1rem, 700);
      letter-spacing: 4px;
    }
  }
}
